.layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-md);
}

.filter { 
    display: flex;
    gap: 20px;
    align-self: end;
}

.filter select {
    padding: 0 var(--spacing-sm);
    border-radius: var(--radius);
    border: none;
}

.gridSection {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}