.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: var(--spacing-sm) var(--spacing-md);
    gap: 20px;
}

.btn {
    min-width: 100px;
    text-align: center;
}

@media (min-width: 600px) {
    .layout {
        flex-direction: row;
        align-items: baseline;
    }
}