.layout {
    position: relative;
    display: flex;
    gap: 20px;
    height: 100%;
}

.layout >*:not(.background) {
    z-index: 1;
}

.details {
    display: flex;
    flex-direction: column;
}

.detailsHeader {
    flex-direction: column;
    display: flex;
    gap: 20px;
    flex: 1;
}

.reviewLayout {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    filter: blur(20px);
    pointer-events: none;
}