BASE_API=http://localhost:3001

# AUTH_LOGIN=http://movieapi.restapi.co.za/auth/login
# AUTH_CHECK=http://movieapi.restapi.co.za/genre


# BASE_API=http://movieapi.restapi.co.za
AUTH_LOGIN=$BASE_API/auth/login
MOVIES=$BASE_API/movie
GENRE=$BASE_API/genre
STUDIO=$BASE_API/studio
AUTH_CHECK=$BASE_API/genre/1