.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-md);
    height: 100%;
    background-color: var(--nav-bg);
}

.navLayout {
    flex-grow: 1;
}

.links {
    display: inline-flex;
    flex-direction: column;
    padding: var(--spacing-lg) var(--spacing-md);
    gap: 5px;
    font-size: 2rem;
}

.content {
    padding: var(--spacing-sm) var(--spacing-md);
}

.action {
    padding: var(--spacing-md) 0;
}

.navEnd {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.logoutButton {
    cursor: pointer;
    background: transparent;
    border: none;
    color: var(--color-text);
    transition: color 0.3s ease-in-out;
}

.logoutButton:hover {
    color: var(--color-accent);
}