.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav {
    background-color: var(--nav-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--spacing-md);
    height: 10%;
}

.main {
    flex: 1;
    padding: var(--spacing-sm) var(--spacing-md);
    max-width: 97vw;
    width: 100%;
    margin: auto;
}

.footer {
    display: flex;
    justify-content: center;
    padding: var(--spacing-sm);
}