.layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.btn {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo {
    display: inline-flex;
    justify-content: center;
    padding: var(--spacing-sm);
}

.label { 
    display: inline-flex;
    gap: 10px;
}

.select {
    width: 200px;
}