.layout {
    position: relative;
    width: 200px;
    height: 300px;
}


.overlayClickableArea {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.overlayClickableArea:hover {
    cursor: pointer;
    opacity: 1;
}

.overlayText {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: var(--spacing-sm) var(--spacing-md);

    background-color: var(--color-primary);
    bottom: 0;
    color: var(--color-text);
    width: 100%;
}