.layout {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--color-secondary);
    padding: var(--spacing-sm) var(--spacing-sm);
    z-index: 2;
    
    border-top-left-radius: var(--radius);
    border: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    gap:5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: transform 0.2s ease-in-out;
    will-change: transform;
    transform-origin: bottom right;
}

.layout:hover {
    transform: scale(1.3);
}

.deleteButton {
    width: 100%;
    border: none;
    background: transparent;
    color: var(--color-text);
    transition: all 0.5s ease;
}
.deleteButton:hover {
    cursor: pointer;
    color: var(--color-primary);
}

.layout a {
    color: var(--color-text);
    transition: all 0.5s ease;
}

.layout a:hover {
    cursor: pointer;
    color: var(--color-primary);
}

.error {
    color: red;
    animation: pulse 0.8s ease-in-out 3
}


@keyframes pulse {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}